/* Background */
.updatePasswordContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  background:
    linear-gradient(90deg, #1f2223a9, #542a1c74),
    linear-gradient(90deg, #d0dae1c7, #fce5deb3);
  background-blend-mode: overlay;

  padding: 40px 20px;
}

/* Bigger Card */
.updatePasswordBox {
  background: #ffffff;
  width: 100%;
  max-width: 550px; 
  padding: 50px 65px; 
  border-radius: 22px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.updatePasswordBox:hover {
  transform: translateY(-6px);
}

/* Heading */
.updatePasswordHeading {
  text-align: center;
  font-size: 36px; 
  font-weight: 600;
  margin-bottom: 45px;
  margin-top: 55px;
  color: #333;
}

/* Form */
.updatePasswordForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Input Wrapper */
.updatePasswordForm > div {
  position: relative;
  display: flex;
  align-items: center;
}

/* Icon */
.updatePasswordForm > div > svg {
  position: absolute;
  left: 16px;
  font-size: 22px;
  color: #777;
}

/* Input */
.updatePasswordForm > div > input {
  width: 80%;
  padding: 20px 16px 16px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 18px;
  transition: 0.3s ease;
  background: #f9fafc;
}

.updatePasswordForm > div > input:focus {
  border-color: #542a1c;
  box-shadow: 0 0 0 4px rgba(84, 42, 28, 0.15);
  background: #fff;
}

/* Button */
.updatePasswordBtn {
  margin: 20px auto 0;
  padding: 20px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(90deg, #1f2223b4, #c39484cb);
  color: white;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.updatePasswordBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}


@media (max-width: 600px) {
  .updatePasswordBox {
    max-width: 95%;
    padding: 35px 25px;
  }

  .updatePasswordHeading {
    font-size: 20px;
  }
}
