.MuiStepConnector-line {
  height: 3px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.MuiStepConnector-root.Mui-active .MuiStepConnector-line,
.MuiStepConnector-root.Mui-completed .MuiStepConnector-line {
  background-color: #ff5722;
}

.MuiStepIcon-root {
  transition: transform 0.3s ease, color 0.3s ease;
}

.MuiStepIcon-root.Mui-active {
  transform: scale(1.2);
}

.MuiStepIcon-root.Mui-completed {
  transform: scale(1.1);
}

@media (max-width: 690px) {
  .MuiStepper-root {
    margin-top: 60px !important;
  }

  .MuiStepLabel-label {
    font-size: 12px !important;
  }
}
